.checkerboard.checkerboard-fade {
    @include desktop {
        .fade {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            bottom: 0;
            background: linear-gradient(90deg, transparent, white);
        }
    }

    &.checkerboard-image-left {
        @include notmobile {
            .checkerboard-content-wrap {
                // padding-left: 0;
            }
        }
    }

    &.checkerboard-image-right {
        @include desktop {
            .fade {
                left: 0;
                right: auto;
                background: linear-gradient(90deg, white, transparent);
            }
        }

        @include notmobile {
            .checkerboard-content-wrap {
                // padding-right: 0;
            }
        }
    }
}